$light: #FAF8ED;
$dark: #2F2B32;
$glass-dark: rgba(47, 43, 50, 0.7);
$first-accent: #D9E021;
$first-glass-accent: rgba(217, 224, 33, 0.7);
$second-accent: #F95A37;
$second-glass-accent: rgba(249, 90, 55, 0.7);